@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #fefefe;
}
.header{
    background: linear-gradient(to bottom, rgb(102, 9, 9) 0%, #991b1b 100%);
    color: white;
    padding: 0.3rem;
    text-align: center;

} 
a:hover {
  color: #4299e1;
}
